/*¶ÔeasyuiÐÞÕý*/

.panel-body{
	font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	font-size:14px;
}

.panel-title{
}


div,li{
	font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	font-size:14px;
}

